span {
    display: inline-block;
  }
#mini-layout {
    display: inline-block;
}
img {
    height: 100px;
    width: 100px;
}
#bigCat {
    height: 300px;
    width: 100%;
}
body {
    text-align: center;
}